<form class="" action="/divisions/<%=@division.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="division">Update division</label>
    <input type="text" name="division" required>
  </div>
  <button type="submit">Edit this division!</button>
</form>
